In [1]:
import pandas as pd
import chardet

In [2]:
itens_prova = pd.read_csv("Dados/DADOS/ITENS_PROVA_2020.csv", sep = ";")

In [3]:
itens_prova

,CO_POSICAO,SG_AREA,CO_ITEM,TX_GABARITO,CO_HABILIDADE,IN_ITEM_ABAN,TX_MOTIVO_ABAN,NU_PARAM_A,NU_PARAM_B,NU_PARAM_C,TX_COR,CO_PROVA,TP_LINGUA,IN_ITEM_ADAPTADO,TP_VERSAO_DIGITAL
0,26,LC,7099,D,15,0,NaN,1.33337,-0.37357,0.00658,LARANJA - BRAILE,623,NaN,1,NaN
1,43,LC,7099,D,15,0,NaN,1.33337,-0.37357,0.00658,BRANCA,620,NaN,0,NaN
2,26,LC,7099,D,15,0,NaN,1.33337,-0.37357,0.00658,LARANJA,624,NaN,1,NaN
3,26,LC,7099,D,15,0,NaN,1.33337,-0.37357,0.00658,ROSA,619,NaN,0,NaN
4,41,LC,7099,D,15,0,NaN,1.33337,-0.37357,0.00658,AZUL,617,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4410,13,LC,112157,E,20,0,NaN,1.49447,1.39505,0.19382,BRANCA,620,NaN,0,NaN
4411,35,LC,112157,E,20,0,NaN,1.49447,1.39505,0.19382,AMARELA,618,NaN,0,NaN
4412,28,LC,112157,E,20,0,NaN,1.49447,1.39505,0.19382,AZUL,617,NaN,0,NaN
4413,15,LC,112157,E,20,0,NaN,1.49447,1.39505,0.19382,ROSA,619,NaN,0,NaN
4414,15,LC,112157,E,20,0,NaN,1.49447,1.39505,0.19382,LARANJA,664,NaN,1,NaN

In [4]:
with open("Dados/DADOS/MICRODADOS_ENEM_2020.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [ ]:
micro_dados = pd.read_csv("Dados/DADOS/MICRODADOS_ENEM_2020.csv",encoding='ISO-8859-1',sep = ";")

In [ ]:
micro_dados

In [1]:
import pyspark

ModuleNotFoundError: No module named 'pyspark'

In [ ]:
docker